/* PRODUCT DETAILS */
.details-wrapper {
  padding: 2em 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.details-company {
  color: var(--primary-orange);
  font-size: 0.8rem;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}

.details-product-name {
  color: var(--neutral-dark-blue);
  font-size: 1.5rem;
  line-height: 1;
  padding: 0.6em 0;
}

.details-description {
  color: var(--neutral-dark-grayish-blue);
  font-size: 0.75rem;
  line-height: 1.6;
  margin-bottom: 1em;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-old,
.price-new {
  display: inline-block;
}

.price-new {
  color: var(--neutral-dark-blue);
  font-size: 1.25rem;
}

.discount {
  color: var(--primary-orange);
  background-color: var(--primary-pale-orange);
  padding: 0.25em 0.45em;
  margin-left: 0.8em;
  font-size: 0.8rem;
}

.price-old {
  color: var(--neutral-grayish-blue);
  text-decoration: line-through;
  font-size: 0.8rem;
  font-weight: var(--fw-bold);
}

/* ADD TO CART BUTTONS */
.buy {
  margin-top: 1.5em;
  width: 100%;
}

.quantity-btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.plus-btn,
.minus-btn {
  background-color: var(--neutral-light-grayish-blue);
  border-color: transparent;
  cursor: pointer;
  padding: 15px 15px;
}

.plus-btn {
  border-radius: 0 10px 10px 0;
}

.minus-btn {
  border-radius: 10px 0 0 10px;
}

input[type="number"] {
  padding: 15px 0;
  border-color: transparent;
  background-color: var(--neutral-light-grayish-blue);
  text-align: center;
  width: 73.5%;
  font-family: var(--f-family);
  font-weight: var(--fw-bold);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

#number:focus {
  outline: none !important;
  background-color: var(--primary-pale-orange);
}

.plus-btn:hover,
.plus-btn:active,
.minus-btn:hover,
.minus-btn:active {
  background-color: var(--primary-pale-orange);
}

.add-to-cart {
  background-color: var(--primary-orange);
  border-color: transparent;
  border-radius: 10px;
  color: var(--neutral-white);
  font-weight: var(--fw-bold);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 1.5em;
  padding: 12px;
  width: 100%;
}

.add-to-cart img {
  margin-right: 10px;
}

.add-to-cart:hover,
.add-to-cart:active {
  opacity: 0.7;
}